{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<h1>{{user.username}}</h1>

	<div class="card" style="width: 18rem;">
		<img src="{{asset('images/user.png')}}" class="card-img-top" alt="photo profil">
		<div class="card-body">
			<h5 class="card-title">{{user.username}}</h5>
			{{user.roles|badge_user}}

			<p class="card-text">{{user.email}}</p>
		</div>
	</div>


	<div class="action-buttons">
		<div>
			{# suppression #}
			{% include "user/_delete_form.html.twig" with {'button_class': 'btn btn-delete'} %}
		</div>
		<div>
			<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-edit">Editer</a>

		</div>
		<div>
			<a href="{{path('app_user_index')}}" class="btn btn-back">
				<i class="fas fa-arrow-left"></i>Retour à la liste</a>

		</div>

	</div>

{% endblock %}
